<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xucan.mapper.DataMapper">

    <select id="findAllByClick" resultType="com.xucan.domain.BookInfo">
        SELECT * FROM book_info ORDER BY click DESC LIMIT 6
    </select>
</mapper>